# =====================================
# Compilação em C
# =====================================

*.o
*.a
*.so
*.out
a.out

# executáveis comuns
main
teste
test
exemplo

# =====================================
# Executáveis gerados em examples/ e tests/
# =====================================

examples/*
tests/*

!examples/*.c
!tests/*.c

# =====================================
# Código-fonte (NÃO ignorar)
# =====================================
# src/ e include/ SEMPRE versionados

# =====================================
# Arquivos temporários
# =====================================

*~
*.swp
*.swo
*.tmp

# =====================================
# Neovim / Vim
# =====================================

.netrwhist
Session.vim
.nvimlog

# =====================================
# IDEs
# =====================================

.vscode/
.idea/

# =====================================
# Sistema
# =====================================

.DS_Store

